name: Dockerize application

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            -
                name: Set up QEMU
                uses: docker/setup-qemu-action@v2
            -
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v2
            -
                name: Login to Docker Hub
                uses: docker/login-action@v2
                with:
                    username: nayzbysodium
                    password: ${{ secrets.DOCKER_PASSWORD }}
            -
                name: Build and push API
                uses: docker/build-push-action@v4
                with:
                    push: true
                    tags: nayzbysodium/chatapp-api:latest
                    file: ./api/Dockerfile
                    context: api
            -
                name: Build and push CLIENT
                uses: docker/build-push-action@v4
                with:
                    push: true
                    tags: nayzbysodium/chatapp-client:latest
                    file: ./client/Dockerfile
                    context: client
